<h2><%= @restaurant[:name] %> (<%= @restaurant[:address] %>)</h2>

<%= link_to "Delete", restaurant_path(@restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to "Go Home", root_path  %>
<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %>
