<!DOCTYPE html>
<html>
  <head>
    <title>Thespoon348</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# if controller[:pages] && action[:home] %>
      <!-- load something on this condition -->
    <%# end %>
  </head>

  <body>
    <p>YumYum Food Guide</p>
    <%= yield %>
    <p>Facebook Github LinkedIn</p>
  </body>
</html>
